.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rotate-270deg {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform: rotate(270deg);
  transform-origin: left top;
}
.highlight {
  background-color: #ffff00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff00), to(#ffffa3));
  background-image: -webkit-linear-gradient(top, #ffff00, #ffffa3);
  background-image: -moz-linear-gradient(top, #ffff00, #ffffa3);
  background-image: -o-linear-gradient(top, #ffff00, #ffffa3);
  background-image: linear-gradient(to bottom, #ffff00, #ffffa3);
}
span.strikeThrough {
  text-decoration: line-through;
}
.noPadding {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
.xyz {
  background-color: yellow;
}
.abc {
  border: 5px solid red;
}
#body {
  padding-top: 0.5em;
}
th,
td {
  padding-right: 1em;
  margin-right: 1em;
}
table {
  width: 99%;
}
tr {
  border-collapse: collapse;
}
td {
  vertical-align: top;
}
/*
tr:hover > td:nth-child(6) {
    display: inline;
    vertical-align: top;
}
tr:hover > td:nth-child(5) {
    display: none;
}
*/
tr:hover {
  background-color: #d9ffd9;
  cursor: pointer;
}
td.shortDescription {
  display: block;
  width: auto;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0;
  margin-right: 0;
}
div.noReviews {
  height: 45%;
  width: 90%;
  display: block;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: #e0e8e0;
  padding: 5em;
  padding-top: 4em;
  margin: 0.5em;
}
div.all {
  height: 45%;
  width: 95%;
  display: block;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: #e0e8e0;
  margin: 0.5em;
  margin-left: 0.5em;
  padding-left: 0.25em;
}
td.description {
  width: 200em;
  vertical-align: top;
  display: none;
  white-space: pre;
  padding-right: 0;
  margin-right: 0;
}
div.details {
  height: 45%;
  width: 95%;
  display: block;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: #e0e8e0;
  padding: 1em;
  margin: 0.5em;
  margin-left: 0.5em;
  padding-left: 0.25em;
}
div.details tr:hover {
  background-color: transparent;
}
span.description {
  white-space: pre;
}
