<div class="navigation">
    <span class='navigation' data-bind="click: navigation.hideUnchangedLines.click, css: navigation.hideUnchangedLines.classes, attr: { title: navigation.hideUnchangedLines.title }"></span>
    <span class='navigation ui-icon ui-icon-circle-arrow-w' title="Previous change - F7" data-bind="click: navigation.previousChange.click, css: navigation.previousChange.classes, style: { display: navigation.previousChange.display }"></span>
    <span class='navigation ui-icon ui-icon-circle-arrow-e' title="Next change - F8" data-bind="click: navigation.nextChange.click, css: navigation.nextChange.classes, style: { display: navigation.nextChange.display }"></span>
    <span class='navigation ui-icon ui-icon-circle-triangle-w' title="Previous comment - F9" data-bind="click: navigation.previousComment.click, css: navigation.previousComment.classes, style: { display: navigation.previousComment.display }"></span>
    <span class='navigation ui-icon ui-icon-circle-triangle-e' title="Next comment - F10" data-bind="click: navigation.nextComment.click, css: navigation.nextComment.classes, style: { display: navigation.nextComment.display }"></span>
    <span class='navigation ui-icon ui-icon-seek-prev'  title="Previous file - F3" data-bind="click: navigation.previousFile.click, css: navigation.previousFile.classes"></span>
    <span class='navigation ui-icon ui-icon-seek-next'  title="Next file - F4 / ESC" data-bind="click: navigation.nextFile.click, css: navigation.nextFile.classes"></span>
</div>